#Dependencies
node_modules/
package-lock.json
npm-debug.log*

#environment variables
.env
.env.local
.env.*.local

#IDE
.vscode/
.idea/
*.swp
*.swo
*~

#Logs
logs/
*.log

#OS
.DS_Store
Thumbs.db

#build
dist/
build/

#database
*.sqlite
*.db
